# Task-3.1 
Go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [3]:
list1 = [23,34,45,54,12,11,11,45,23,4,57,8,1]
list1.count(11)

2

In [6]:
list1.sort()
list1

[1, 4, 8, 11, 11, 12, 23, 23, 34, 45, 45, 54, 57]

In [8]:
list1.reverse()
list1

[1, 4, 8, 11, 11, 12, 23, 23, 34, 45, 45, 54, 57]

In [9]:
list1.remove(1)
list1

[4, 8, 11, 11, 12, 23, 23, 34, 45, 45, 54, 57]

In [10]:
list1.clear()
list1

[]

# Task 3.2
Create a list of lenght = 10 and access 5th to 8th data.

In [12]:
list2 = [1,2,3,4,5,"peanut","butter","jelly","galantis",4.5]
print(len(list2))
print(list2[4:8])

10
[5, 'peanut', 'butter', 'jelly']

# Task 4.1
Add item 70 after 60 in the following Python List <br>
Input <br>
[10, 20, [30, 40, [50, 60], 80], 90, 100]<br>
Output <br>
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [13]:
list3 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
list3[2][2].append(70)
list3

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

# Task 4.2
Add sublist [7,8] after 6 <br>
Input <br>
[1,2,[3,4,5,6],9] <br>
Output <br>
[1,2,[3,4,5,6,[7,8]],9] <br>

In [14]:
list4 = [1,2,[3,4,5,6],9]
list4[2].append([7,8])
list4

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

# Task 5

From the dictionary, do the following tasks
1. access "Mike"
2. access 80
3. change "Mike" to "Your name"
4. add ML = 80 and DL = 80 inside marks

In [15]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [16]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [17]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [18]:
dict1["april_batch"]["student"]["name"] = "Rohan"
dict1

{'april_batch': {'student': {'name': 'Rohan',
   'marks': {'python': 80, 'maths': 70}}}}

In [19]:
update_dict = {"ML": 80, "DL" : 80}
update_dict

{'ML': 80, 'DL': 80}

In [20]:
dict1["april_batch"]["student"]["marks"].update(update_dict)
dict1

{'april_batch': {'student': {'name': 'Rohan',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}